<div class="content">
  
  <section></section>
  
  <main class="main-content">
    <section></section>

    <div class="profile">
      <img class="photo"/>
      <div class="perfil">
        <h1>Guilherme Lopes</h1>
        <h4>Full Stack Developer</h4>
      </div>
    </div>
    
    <div class="buttons">
      <glt-button [btn-text]="'LinkedIn'"></glt-button>
      <glt-button [btn-text]="'GitHub'"></glt-button>
      <glt-button [btn-text]="'Contato'"></glt-button>
    </div>

  </main>
</div>